<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applicants</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    <style>
    .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  padding: 30px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.1s, opacity 0.3s ease;
}
.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 21;
  background-color: rgba(0, 0, 0, 0.7);
}
 .mbtnwrap{
    gap: 10px;
    display: flex;
    justify-content: center;
        }
.modal__container {
  position: relative;
  z-index: 22;
  width: 30%;
  height: 30%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal__container p{
  font-size: 30px!important;
    padding-bottom: 20px;
}

         body {
        margin: 0;
        padding: 0;
        }
        .sidenav {
        width: 350px;
        height: 100vh;
        position: fixed;
        z-index: 1;
        background: #5d4da8;
        /* box-shadow: 4px 0px 4px rgb(221 221 221 / 25%); */
        /* overflow-x: hidden; */
        /* padding-top: 20px;*/
      }

        .sidenav a {
            padding: 37px 8px 6px 70px;
            /* width: 350px; */
            height: 31px;
            text-decoration: none;
            font-size: 25px;
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 31px;
            color: #FFFFFF;
            display: block;
        }
        .container {
        width: auto;
        padding-right: 32px;
        padding-top: 106px;
        padding-left: 395px;
        padding-top: 111px;
        }
        .container h2{
            width: 725px;
            height: 58px;
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 58px;
            color: #5D4DA8;
        }
        .nav{
        width: 78px;
        height: 22px;
        padding: 30px 0;
        padding-left: 60px;
        }
        h3 , p , h2{
            padding: 0;
            margin: 0;
        }
        .label{
            font-family: "Lato",sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
            padding-top: 52px;
            color: #909090;
        }
        .head{
            display: flex;
            gap: 46px;
            padding-top: 35px;
        }
        .subhead{
            display: flex;
            align-items: center;
            /* padding: 32px 46px; */
        }
        .subhead h3{
            font-family: "Lato",sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 30px;
        }
        .subhead p{
            font-family: "Lato",sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            color: #5E5E5E;
        }
        hr {
        /* padding-left: 150px ; */
        margin-top: 42px;
        height: 1px;
        
        background: #EBEBEB;
        }
        
        .infohead{
            display: flex;
            padding-top: 34px;
            align-items: center;
            gap:30px;
        }
        .infohead h3{
        font-family: "Lato",sans-serif;
        font-style: normal;
        font-size: 25px;
        width: 250px;
        line-height: 30px;
        }
        .rect{
            padding-top: 10px;
        }
        .infohead p{
            font-family: "Lato",sans-serif;
            font-style: normal;
            font-size: 20px;
            line-height: 30px;
            color: #5E5E5E;
        }
        .hire{
         
            color: #FFFFFF;
            width: 104px;
            height: 35px;   
            background: #5D4DA8;
            font-family: "Lato", sans-serif;
            border-radius: 10px; 
             font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            border: none;
            border-color: #5D4DA8;
            align-items: center;
            display: flex;
            text-decoration: none;
            justify-content: center;
            cursor: pointer;
        }
     .btnwrap{
         display: flex;
         gap: 30px;
         padding-left: 24px;
     }
        .reject{
        
            width: 104px;
            height: 35px;   
            border: none;
            font-family: "Lato", sans-serif;
            border-radius: 10px; 
             font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            background: #D8D8D8;
            border-radius: 10px;
            border-color: #D8D8D8;
            align-items: center;
            display: flex;
            text-decoration: none;
            justify-content: center;
            color: black;
        }
        .arrowWrap {
        display: flex;
        gap: 20px;
        /* align-items: center; */
        align-items: flex-start;
    padding: 36px 8px 0 69px;
      
      }
      .arrowIcon{
       padding-left: 50px;    
      }
        .wrap {
        display: flex;
        /* justify-content: space-around; */
        width: 100%;
        gap: 0px;
      }
      .proftypeWrap {
        background-image: url(../css/orange-patch.png), url(../css/yellow-patch-rotated.png), url(../css/round-pink-patch.png);
        /* background-image: url(../css/orange-patch.png), url(../css/yellow-patch-rotated.png), url(../css/round-pink-patch.png); */
        background-repeat: no-repeat;
        height: 100%;
        background-position: bottom left -164px, right 60px top -65px, center right;
        width: 100%;
      }
      .applicants{
        width: 107px !important;
        height: 28px !important;
        font-weight: 500 !important;
        font-size: 22px !important;
        line-height: 27px !important;
      }
      .uapplicants{
          padding: 0 !important;
      }
      .hide{
          display: none;
      }
      .mbton{
        border: none;
        background: none;
      }
      /* .modal {
        display: none;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); 
        } */

        /* Modal Content */
        /* .modal-content {
        background-color: #fefefe;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        border: 1px solid #888;
        width: 30%;
        height: 30%;
        padding: 5px;;
        font-size: 36px;
        border: black;
        border-radius: 5px;
        } */

        /* .modal-content button{
        background-color: #5D4DA8;
        border-radius: 5px;
        border: none;
        } */
      @media only screen and (max-width: 999px) {
        .sidenav{
          display: none;
        }
        .head{
            flex-direction: column;
        }
        .hide{
          display: none;
      }
    }
    @media only screen and (max-width: 600px) {
        .infohead{
            flex-wrap: wrap;
        }
        .btnwrap{
            padding-left: 0px;
        }
        .container h2{
            width: auto;
        }
        .proftypeWrap{
            height: 150vh;
        }
      .infohead h3{
          width: auto;
      }
      .hide{
          display: none;
      }
    }

    @media only screen and (max-width: 475px) {
      .label{
          padding-top: 20px;
          font-size: 17px;
      }
      .container{
          padding-top: 34px;
      }
      .container h2{
          font-size: 30px;
      }
      .infohead h3, .subhead h3{
          font-size: 18px;
      }
      .infohead p, .subhead p{
          font-size: 14px;
      }
      .hide{
          display: none;
      }
    }
    </style>
</head>
<body>
    <div class="wrap" id="wra">
    <div class="sidenav">
        <nav>
            <img class="nav" src="/css/Yuung White.png"> 
        </nav>
        <a href="/company/proftype">Type of Profile</a>
        <a href="/company/profinfo">Profile Information</a>
        <a href="/company/jobposting">Job Posting</a>
        <a href="/company/livejobs">Live Jobs</a>
        <a href="/company/applications">Applications</a>
        <div class="arrowWrap">
            <img src="/css/Rectangle.png" alt="arrow" class=" rect" />
            <a class="applicants uapplicants">Applicants</a>  
            <img src="/css/arrow.png" alt="arrow" class="arrowIcon" />
          </div>
      </div>
      <div class="proftypeWrap">
    <div class="container">
        <h2>Applicants</h2>
        <% records.forEach(function(data) {%>
        <p class="label">Total applicants - <%= data.applicants.length%> </p>
        <div class="head">
            <div class="subhead">
                <h3>Job name -</h3>
                <p> <%= data.postName%></p>
            </div>
            <div class="subhead">
                <h3>Job date -</h3>
                <p><%= data.startDate.toLocaleDateString()%></p>
            </div>
            <div class="subhead">
                <h3>Job time -</h3>
                <p><%= data.startTime%></p>
            </div>
           
        </div>
        
        <% record.forEach(function(sdata) {%>
     
            <hr>

        <div class="info">
            <div class="infohead">
                <h3>Full name</h3>
                <p>:</p>
                <p><%= sdata.fname%> <%= sdata.mname%> <%= sdata.lname%></p>
            </div>
            <div class="infohead">
                <h3>Experience(in years)</h3>
                <p>:</p>
                <p><%= sdata.experienceYears%></p>
            </div>
            <div class="infohead">
                <h3>Location(city)</h3>
                <p>:</p>
                <p><%= sdata.location %></p>
            </div>
            <div class="infohead">
                <h3>Mobile no. :</h3>
                <p>:</p>
                <p><%= sdata.userNumber%></p>
                <div class="btnwrap">
                <a href="#jsModal" id="popup" class="jsModalTrigger hire">Hire</a>
                
                
                <div id="jsModal" class="modal">
                  <!-- Modal content -->
                    <div class="modal__overlay jsOverlay"></div>
                    <div class="modal__container">
                      <p>Are you sure?</p>
                      
                      <div class="modal__close jsModalClose mbtnwrap">
                        <form action="/company/hire" method="POST">
                          <div class="hide">
                            <input type="text" name="uid" value="<%= data._id%>">
                            <input type="text" name="aid" value="<%= sdata._id%>">
                              </div>
                              
                              <button id="hireBtn" class="hire" type="submit">Yes</button>
                              
                            </form>      
                            
                            <button class="hire">No</button>
                          </div>                         
                        </div>
                      </div>
                      
                  <button class="mbton" onclick="onRejection('<%= data._id%>','<%= sdata._id%>')"><a class="jsModalTrigger2 reject" href="#jsModal2" id="popup">Reject</a></button>
                    <div id="jsModal2" class="modal">
                      <!-- Modal content -->
                      <div class="modal__overlay jsOverlay"></div>
                      <div class="modal__container">
                        <p>Are you sure?</p>
                        <form action="/company/reject" method="POST">
                          <div class="hide">
                            <input type="text" name="jobId" value="<%= data._id%>">
                            <input type="text" name="applicantId" class="data">
                          </div>
                        <div class="modal__close jsModalClose mbtnwrap">
                        <button id="hireBtn" class="hire" type="submit">Yes</button>
                       
                      </form>      
                        <button class="hire">No</button>
                      </div>                         
                    </div>
                      </div>
            
          
            </div>
        </div>
        </div>
        
        <%}) %>
        <%}) %>
    </div>
    </div>
    </div>

    <script>

function onRejection(jobData,userData) {
  for(i=0; i<100;i++){
  document.getElementsByClassName("data")[i].value = userData;
  console.log(activeUser)
  }
}

  (function() {
   
  /* Opening modal window function */
  function openModal() {
      /* Get trigger element */
      var modalTrigger = document.getElementsByClassName('jsModalTrigger');
      var modalTrigger2 = document.getElementsByClassName('jsModalTrigger2');

      /* Set onclick event handler for all trigger elements */
      for(var i = 0; i < modalTrigger.length; i++) {
          modalTrigger[i].onclick = function() {
           
            var target = this.getAttribute('href').substr(1);
            var modalWindow = document.getElementById(target);

            modalWindow.classList ? modalWindow.classList.add('open') : modalWindow.className += ' ' + 'open'; 
          }
      }   

      for(var i = 0; i < modalTrigger2.length; i++) {
          modalTrigger2[i].onclick = function() {
           
            var target = this.getAttribute('href').substr(1);
            var modalWindow = document.getElementById(target);

            modalWindow.classList ? modalWindow.classList.add('open') : modalWindow.className += ' ' + 'open'; 
          }
      }  
  }

  function closeModal(){
    /* Get close button */
    var closeButton = document.getElementsByClassName('jsModalClose');
    var closeOverlay = document.getElementsByClassName('jsOverlay');

    // var modal = document.getElementById('jsModal');

    /* Set onclick event handler for close buttons */
      for(var i = 0; i < closeButton.length; i++) {
        closeButton[i].onclick = function() {
          var modalWindow = this.parentNode.parentNode;
        
          modalWindow.classList ? modalWindow.classList.remove('open') : modalWindow.className = modalWindow.className.replace(new RegExp('(^|\\b)' + 'open'.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
        }
      }   

    /* Set onclick event handler for modal overlay */
      for(var i = 0; i < closeOverlay.length; i++) {
        closeOverlay[i].onclick = function() {
          var modalWindow = this.parentNode;

          modalWindow.classList ? modalWindow.classList.remove('open') : modalWindow.className = modalWindow.className.replace(new RegExp('(^|\\b)' + 'open'.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
        }
      }  

  }

  /* Handling domready event IE9+ */
  function ready(fn) {
    if (document.readyState != 'loading'){
      fn();
    } else {
      document.addEventListener('DOMContentLoaded', fn);
    }
  }

  /* Triggering modal window function after dom ready */
  ready(openModal);
  ready(closeModal);
}());

if ( window.history.replaceState ) {
  let href = "http://127.0.0.1/company/applicants"
        window.history.replaceState( null, null,href);
    }
</script>
</body>
</html>