<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live Jobs</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      .sidenav {
        width: 350px;
        height: 100vh;
        position: fixed;
        z-index: 1;
        background: #5d4da8;
        /* box-shadow: 4px 0px 4px rgb(221 221 221 / 25%); */
        /* overflow-x: hidden; */
        /* padding-top: 20px;*/
      }
      .wrap {
        /* display: flex; */
        /* justify-content: space-around; */
        width: 100%;
        gap: 0px;
      }
      .sidenav a {
        padding: 37px 8px 6px 70px;
        /* width: 350px; */
        height: 31px;
        text-decoration: none;
        font-size: 25px;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 31px;
        color: #ffffff;
        display: block;
      }
      .container {
        width: auto;
        /* padding-left: 482px; */
        padding-top: 143px;
        padding-right: 32px;
        margin-left: 490px;
        zoom: 0.8;
      }
      .container h2 {
        width: 725px;
        height: 58px;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 58px;
        color: #5d4da8;
        padding-left: 41px;
      }
      .nav {
        width: 78px;
        height: 22px;
        padding: 30px 0;
        padding-left: 60px;
      }
      .arrowWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .arrowIcon {
        padding-top: 37px;
        padding-right: 8px;
      }
      th {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        padding: 49px 120px 38px 44px;
      }
      /* td, th{
            padding : 0 124px 25px 0;
        } */

      td {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;

        color: #5e5e5e;
        padding: 38px 119px 38px 53px;
        border-top: 1px solid #ebebeb;
        text-align: center;
      }
      td a {
        color: #5d4da8;
      }
      tr.bordered td {
        border-bottom: 1px solid #000;
      }
      table {
        border-collapse: collapse;
      }
      .proftypeWrap {
        background-image: url(../css/full-pink-patch.png),
          url(../css/yellow-patch-rotated.png);
        background-position: bottom left 178px, right 60px top -65px;
        background-repeat: no-repeat;
        height: 100vh;
      }
      p,
      h2 {
        margin: 0;
        padding: 0;
      }
      @media only screen and (max-width: 999px) {
        .sidenav {
          display: none;
        }
        .container {
          padding-left: 35px;
          padding-right: 35px;
          margin-left: 0px;
          padding-top: 20px;
        }
        p {
          margin: 0px;
          padding: 0px;
        }
        .proftypeWrap {
          height: 110vh;
          background-position: bottom 30px left -230px, right 60px top -65px;
        }
      }
    </style>
  </head>
  <body>
    <div class="wrap">
      <div class="sidenav">
        <nav>
          <img class="nav" src="/css/Yuung White.png" />
        </nav>
        <a href="/company/proftype">Type of Profile</a>
        <a href="/company/profinfo">Profile Information</a>
        <a href="/company/jobposting">Job Posting</a>
        <div class="arrowWrap">
          <a href="/company/livejobs">Live Jobs</a>

          <img src="/css/arrow.png" alt="arrow" class="arrowIcon" />
        </div>
        <a href="/company/applications">Applications</a>
      </div>
      <div class="proftypeWrap">
        <div class="container">
          <h2>Live Jobs</h2>

          <table>
            <!-- <div class="sec1">
            <h3 class="address">Job name</h3>
          </div> -->
            <tr>
              <th>Job name</th>
              <th>Job date</th>
              <th>Job time</th>
              <th>Action</th>
            </tr>
            <% records.reverse().forEach(function(data) {%>
            <tr>
              <td><%= data.postName%></td>
              <td><%= data.startDate.toLocaleDateString()%></td>
              <td><%= data.startTime%> <%= data.meridiem%></td>
              <td><a href="/company/delete/<%= data._id%>">Delete</a></td>
            </tr>
            <%}) %>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
